name: Deploy to Deno Deploy

on:
  push:
    branches:
      - main
      - working
  pull_request:
    branches:
      - main
      - working

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    
    permissions:
      id-token: write
      contents: read
    
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      
      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      
      - name: Deploy to Deno Deploy
        uses: denoland/deployctl@v1
        with:
          project: kavinsanjai-portfolio
          entrypoint: main.ts
          root: .
